<app-nav></app-nav>

<!--===== ABOUT =====-->
<section class="about section" id="about">
    <h2 class="section-title">About</h2>

    <div class="about__container bd-grid">
        <!-- <div class="about__img">
            <img src="assets/img/a7.jpeg" alt="" style="height: 250px;width:1000px; border-radius: 100%;">
        </div> -->
        <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="assets/img/a7.jpeg" class="img-fluid" alt="">
          </div>

        <div>
            <h2 class="about__subtitle ">Who We Are?</h2>
            <ul class="about__text font-italic"><li> AJ Creations is a full-service digital marketing agency specializing in graphic design, web design and development.</li>         
                <br> <li> From web strategies and user experience, We creates value in everything we do.</li>
             <br>  <li>We don’t believe in offering an idea without figuring out how to follow it through.</li>
             <br>   <li>With us, you’ll see consistent growth in site traffic, regular improvement in click-thru-rate, and steady increase in social media activity.</li>
           <br><li>We have one design approach: flexible! With this agility, we can embrace new – and frequently complex – client needs.</li>    
           </ul>  
            <div class="about__social" style="margin-top: 15px;">
                <a href="#" class="about__social-icon"><i class='bx bxl-linkedin' ></i></a>
                <a href="#" class="about__social-icon"><i class='bx bxl-github' ></i></a>
                <a href="#" class="about__social-icon"><i class='bx bxl-dribbble' ></i></a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>