<app-nav></app-nav>
<section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid">
        <div class="contact__info">
            <h3 class="contact__subtitle">EMAIL</h3>
            <span class="contact__text">ajcreations146@gmail.com</span>

            <h3 class="contact__subtitle">PHONE</h3>
            <span class="contact__text">9656708473 |  74774709</span>
        

            <h3 class="contact__subtitle">ADDRESS</h3>
            <span class="contact__text">Kerala,India |  Doha,Qatar</span>
        </div>

        <form action="" class="contact__form">
            <div class="contact__inputs">
                <input type="text" placeholder="Enter you name" class="contact__input">
                <input type="mail" placeholder="Enter your email" class="contact__input">
            </div>

            <textarea name="" id="" cols="0" rows="10" placeholder="Connect with Us..." class="contact__input"></textarea>

            <input type="submit" value="Send" class="contact__button">
        </form>
    </div>
</section>
<app-footer></app-footer>